appsettings.json
appsettings.Development.json
*.db
*.mdf
/bin/
obj/
*.bak
*.tmp
*.swp
.vs/
*.pem
*.crt
*.key
*.pfx
*.cert
*.log
*~
google-services.json
awscredentials.json
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.idea/
.Rider/
