@model CleanArchMvc.Application.DTOs.CategoryDTO

<h3>Category Details</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(Model => Model.Name)
        </dt>
        <dd class="col-sm-2">
            @Html.DisplayFor(Model => Model.Name)
        </dd>
    </dl>
</div>
<br />
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>